@import url("reset.css");
/* 상단에 연결 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
body{
  font-family: "Noto Serif KR", serif;
  color: #333;
}
h1,h2,h3{
  font-size: 40px; 
  color: #7a303f;
  font-weight: 600;
  line-height: 160%;
}
h2{font-size: 38px;}
h3{font-size: 28px; color: #333;}
p{font-size: 16px; line-height: 160%;}

header{
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: relative;
  z-index: 999;
}
header .header_i{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_i .logo{
  width: 80px;
  margin: 20px 0;
}
header .header_i .logo h1{
  width: 100%;
  height: 100%;
}
.t_hidden{
  display: block;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

header .header_i .menuB button{
  border: none;
  background-color: transparent;
  color: #7a303f;
  width: 50px;
  height: 50px;
  font-size: 30px;
}


header .header_i nav{
  font-size: 18px;
  width: 800px;
  padding: 25px 0;
}
header .header_i nav .mainmenu{
  color: #7a303f;
  font-weight: 800;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
header .header_i nav ul li{
  width: fit-content;
  height: 50px;
  line-height: 50px;
}
header .header_i nav ul li a{
  display: block;
}




header .header_i .login{
  width: 100px;
}
header .header_i .login a{
  float: left;
}
header .header_i .login a:last-of-type{
  float: right;
}

.sub{
  width: 100%;
  height: 250px;
  background-color: #f6cd6a;
  color: #333;
  font-size: 14px;
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
}
.sub1{z-index: 96;}
.sub2{z-index: 97;}
.sub3{z-index: 98;}
.sub4{z-index: 99;}

.sub .sub_i{
  height: 100%;
}
.sub .sub_i .submenu{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.sub .sub_i .submenu li{
  width: 110px;
  height: 33px;
  line-height: 33px;
}


.menuB{
  display: none;
}
.mainM{
  width: 400px;
  height: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -150%;
  z-index: 999;
  background-color: #f6cd6a;
  color: #7a303f;
  transition: 0.5s;
}
.mainM .menuTop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.mainM .menuTop button{
  color: #7a303f;
  font-weight: 800;
  margin-right: 15px;
}
.mainM .login2{
  margin-bottom: 50px;
}
.mainM .login2 a{
  width: 60px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  color: #333;
}

.mainM .login2,
.mainM .mainmenu{
  padding-left: 10px;
}
/* .mainM .close{
  position: absolute;
  right: 10%;
  top: 10%;
  color: #333;
  border: none;
  background-color: transparent;
} */
/* .mainM ul{
  padding: 30px 5px;
} */
.mainM ul li{
  margin: 30px 0;
  font-size: 18px;
  font-weight: 800;
}
.mainM ul li:hover{
  font-size: 20px;
}





section{
  width: 100%;
  margin: 100px 0;
}
.sec2 .sec2_i h2{
  margin-bottom: 50px;
}
.m_img{
  margin-bottom: 30px;
}
.m_txt p{
  text-align: center;
  line-height: 160%;
}
.btn_more{
  width: 100px;
  height: 50px;
  font-weight: 800;
  /* border: 1px solid #7a303f; */
  text-align: center;
  padding: 15px 0;
  margin: 50px auto;
}
.btn_more a{
  line-height: 20px;
  color: #7a303f;
  font-weight: 800;
  font-size: 18px;
}


.sec3_i{
  width: 100%;
  background-color: #f6cd6a;
  padding: 100px 5%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}
.sec3_i h2{
  margin-bottom: 50px;
}
.sec3_i .store{
  max-width: 1000px;
  margin-bottom: 50px;
}
.sec3_i .store .storeImgAll{
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.sec3_i .store .storeImgAll .storeImg{
  max-width: 300px;
  margin: 10px;
  position: relative;
  margin-bottom: 30px;
}
.sec3_i .store .storeImgAll .storeImg span{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}
.sec3_i .store .storeImgAll .storeImg h3{
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: #fff;
  display: none;
}
.sec3_i .store p{
  width: 100%;
  padding: 10px;
}
.sec3_i .sec3_2{
  width: 480px;
  /* background-color: beige; */
}
.sec3_i .sec3_2 .honors{
  width: 100%;
  margin-bottom: 50px;
}
.sec3_i .sec3_2 .honors .iconall{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.sec3_i .sec3_2 .honors .iconall .icon{
  width: 120px;
  margin-bottom: 20px;
}
.sec3_i .sec3_2 .honors .iconall .icon figure{
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}
.sec3_i .sec3_2 .honors .iconall .icon p{
  text-align: center;
}
.sec3_i .sec3_2 .newsletter{
  width: 100%;
}
.sec3_i .sec3_2 .newsletter h2{
  margin-bottom: 30px;
}
.sec3_i .sec3_2 .newsletter>p{
  font-size: 18px;
}
.sec3_i .sec3_2 .newsletter .btn_sub{
  width: 150px;
  height: 50px;
  border: 1px solid #7a303f;
  text-align: center;
  padding: 12px;
  margin: 30px 0;
  background-color: #7a303f;
}
.sec3_i .sec3_2 .newsletter .btn_sub a{
  display: block;
  line-height: 20px;
  color: #fff;
}

.sec4{
  width: 100%;
}
.sec4 .sec4_i h2{
  margin-bottom: 50px;
  text-align: center;
  line-height: 140%;
}
.sec4 .sec4_i .hands{
  margin: 80px 0;
  display: flex;
  align-items: center;
}

.sec4 .sec4_i .hands h3{
  margin: 15px;
}

.sec5{
  width: 100%;
  margin-top: 200px;
}
.sec5_i p{
  line-height: 180%;
  margin-bottom: 30px;
}
.sec5_i .goodsall .goods .title p{
  margin: 0;
}
.sec5_i .goodsall .goods .title{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 15px;
}
.sec5_i .goodsall .goods .line{
  width: 100%;
  height: 3px;
  background-color: #7a303f;
  margin-bottom: 30px;
}
.sec5_i .goodsall .goods figure{
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
}
.sec5_i .goodsall .goods>p{
  text-align: center;
}

footer{
  width: 100%;
  height: 500px;
  background-color: #333;
  color: #fff;
  padding: 80px 0;
}
.footer_i .f_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-weight: 800;
}
.footer_i .f_top .ftleft a{
  margin-right: 50px;
}

.footer_i .f_center{
  width: 100%;
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer_i .f_center .snsbox a{
  font-size: 40px;
  margin-left: 15px;
}

.topB{
  display: none;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 100%;
  background-color: #fff;
  color: #7a303f;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px;
}