
@media screen and (max-width:1500px) {
  .sec3_i{
    flex-direction: column;
    align-items: center;
  }
 
  .sec3_i .sec3_2{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }
  .sec3_i .sec3_2 .honors{
    width: 45%;
  }
  .sec3_i .sec3_2 .newsletter{
    width: 45%;
  }

}

@media screen and (max-width:1200px) {
  
  .sec3_i .sec3_2{
    flex-direction: column;
    align-items: center;
  }
  .sec3 .sec3_i .sec3_2 .honors,
  .sec3 .sec3_i .sec3_2 .newsletter{
    width: 80%;
    text-align: center;
  }
  .sec3 .sec3_i .sec3_2 .honors .iconall .icon{
    margin: auto;
  }
  .sec3 .sec3_i .sec3_2 .newsletter .btn_sub{
    margin: 30px auto;
  }
  

  .sec4 .sec4_i>h2{
    font-size: 35px;
  }
  .sec5_i .goodsall .goods .title p{
    display: none;
  }
}
@media screen and (max-width:1024px) {
  .header_i .menuB{
    display: block;
  }
  .header_i nav,
  .header_i .login{
    display: none;
  }
}
@media screen and (max-width:991px) {
  .header_i .login{
    font-size: 13px;
  }
  .sec3 .sec3_i .store{
    margin-bottom: 50px;
  }
  .sec3 .sec3_i .store .storeImgAll{
    grid-template-columns: repeat(2,2sfr);
  }

  .sec4 .sec4_i>h2{
    font-size: 33px;
  }
  .sec4 .sec4_i h2 br{
    display: none;
  }
 
  .sec5 .sec5_i .goodsall .goods h3{
    font-size: 23px;
  }
}


@media screen and (max-width:767px) {
  h2{font-size: 35px;}
  h3{font-size: 25px;}
  p{font-size: 14px;}
 
  header{
    height: 80px;
  }  
  

  .sec3 .sec3_i .sec3_2 .honors,
  .sec3 .sec3_i .sec3_2 .newsletter{
    width: 90%;
  }
  
  .sec3 .sec3_i .store .storeImgAll{
    grid-template-columns: repeat(1,2fr);
  }
  
  
  .sec4 .sec4_i>h2{
    font-size: 30px;
  }
  .sec4 .sec4_i .hands{
    flex-direction: column;
    justify-content: center;
  }
  .sec4 .sec4_i .hands h3{
    text-align: center;
  }
  .sec4 .sec4_i .hands .text{
    margin-top: 20px;
  }
  .sec5_i .goodsall{
    flex-direction: column;
  }
  
  .sec5_i .goodsall .goods figure,
  .sec5_i .goodsall .goods p{
    display: none;
  }
  .footer_i .f_top{
    flex-direction: column;
  }
  .footer_i .f_top .ftleft{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  .footer_i .f_top .ftleft a{
    margin-right: 0;
  }

  
}

@media screen and (max-width:575px) {
  h2{font-size: 29px;}
  h3{font-size: 23px;}
  p{font-size: 13px;}

  .sec3 .sec3_i{
    width: 100%;
  }
  .sec3_i .sec3_2 .honors .iconall{
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
  }
  .sec4 .sec4_i>h2{
    font-size: 28px;
  }
  
}


@media screen and (max-width:400px) {
  .sec4 .sec4_i>h2{
    font-size: 23px;
  }
  .footer_i .f_center{
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 30px;
  }
  .footer_i .f_center .f_logo{
    margin-bottom: 30px;
  }

}

@media screen and (max-height:600px) {
  .mainM{
    padding: 35px 20px;
  }
  .mainM .menuTop{
    margin-bottom: 10px;
  }
  .mainM .login2{
    margin-bottom: 20px;
  }
  .mainM ul li{
    margin: 25px 0;
    
  }
}